.cards {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
    margin: 20px 50px;
}

.card {
    border: 1px solid red;
    padding: 8px;
    margin: 8px;
}
img {
    width: 250px;
    height: 350px;
    border-radius: 10px;
}
