.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navigation__links {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.navigation__links > li {
    padding: 8px;
}

.logo {
    width: 40px;
    height: 40px;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.auth-button {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 4px #00000040;
    cursor: pointer;
    background: #072d7e;
    /*margin: 8px 0 8px;*/
    color: white;
    font-size: 14px;
    border: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 4px;
    /*margin: 0 12px;*/
    border-bottom: 1px solid #7197e3;
    border-radius: 10px;
    box-shadow: 0 0 40px 8px #00000040;
    background: rgb(203, 225, 248);
    z-index: 1;
}


