* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #6e6c6c;
}

.logo {
    width: 36px;
    height: 36px;

}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 0 0 60px 20px #00000040;
    display: flex;
    justify-content: center;
    /*position: relative;*/
    /*right: 16px;*/
    margin: 12px 8px;
    padding: 12px;
    color: white;
}

button {
    position: relative;
    left: 30vmax;
    padding: 4px 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 4px #00000040;
    width: fit-content;
    cursor: pointer;
    background: rgba(250, 245, 245, 0.91);
    color: black;
    font-size: 12pt;
    border: none;
}

/*main {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*min-height: 85vh;*!*/
/*}*/

h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 86px;
}

/*.topic {*/
/*    width: 45%;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    border: 1px solid red;*/
/*}*/
